*

!.gitignore
!README.md
!LICENSE

!images/
!images/**

!cppcheck/
!cppcheck/**

!src/
!src/meow/
!src/meow/**
!src/main.cpp

!lib/
!lib/TFT_eSPI/
!lib/TFT_eSPI/**

!include/
!include/meowui_setup/
!include/meowui_setup/**

!src/exmpl_context/
!src/exmpl_context/**

!include/modules_setup/
!include/modules_setup/**

!docs/
!docs/**