*

!partitions-s3.csv
!platformio.ini

!.gitignore
!.clang-format
!README.md
!LICENSE

!images/
!images/**

!cppcheck/
!cppcheck/**

!src/
!src/pixeler/
!src/pixeler/**
!src/main.cpp

!src/context/
!src/context/**

!include/
!include/pixeler_setup/
!include/pixeler_setup/**
!include/modules_setup/
!include/modules_setup/**

!lib/
!lib/**
